* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* ARTICLE*/
main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 120px auto;
    padding: 25px;
    background-color: #FEF7E2;
    gap: 30px;
    border-radius: 25px;
}

main article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    min-width: 344px;
}

.title {
    margin-top: 15px;
    color: #7C3632;
    font-size: 1.2em;
}

article>*:nth-child(2) {
    font-size: 0.9em;
}

main img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}


@media screen and (min-width:650px) and (max-width:1200px){
    .title {
        font-size: 1.3em;
    }

    article>*:nth-child(2) {
        font-size: 1em;
    }
}
@media screen and (min-width:1201px){
    main {
        flex-direction: row-reverse;
        width: 100%;
    }

    main img {
        width: 50%;
        height: 100%;
    }

    main article {
        width: 50%;
        justify-content: flex-start;
    }

    .title {
        font-size: 1.7em;
    }

    article>*:nth-child(2) {
        font-size: 1.3em;
    }
}

