* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    min-width: 340px;
    flex-wrap: wrap;
    background-color: #FEF7E2;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

ul>* {
    padding: 10px;
    background-color: #FFDF7E;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 30%;
    font-size: 0.89em;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;
}

ul li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;

}

ul li:hover {
    background-color: goldenrod;
}

ul li:hover a {
    color: white;
}

@media screen and (min-width:900px){
    header{
        padding: 0;
    }

    ul{
        border-radius: 0;
    }

    ul >*{
        border-radius: 0;
        flex: 0 1 33%;
        
    }
}