* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* NAVBAR */
nav {}

ul {
    margin: 120px auto;
    list-style: none;
    display: flex;
    width: 60%;
    min-width: 670px;
    flex-wrap: wrap;
    background-color: #FEF7E2;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

ul>* {
    padding: 10px;
    background-color: #FFDF7E;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 15%;
    font-size: 0.89em;
    flex-wrap: nowrap;
    white-space: nowrap;
}

ul>li:nth-child(3) {
    gap: 30px;
    font-weight: 700;
    flex-basis: 30%;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.61em;

}

ul>li img {
    width: 46px;
    height: 38px;
    object-fit: cover;
}
